
body {
    margin: 0;
    text-align: center;
}

#top_header {
    background: royalblue;
    color: white;
    text-align: center;
}

#top_header h1 {
    margin: 0;
    padding: 25px;
    background: #242424;
    text-transform: uppercase;
}

#motto {
    padding: 5px;
}

#invalid, #already, #invalid_id, #invalid_pass{
    color: red;
    font-size: 18px;
    display: none;
}

#loginForm {
    background-color: #FFF;
    /* max-width: 400px; */
    margin: 20px 10px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

#loginForm input {
    display: block;
    margin: 10px auto;
    height: 20px;
    width: 250px;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF #FFF #AAA #FFF;
    background-color: #FFF;
    /* color: #FFF; */
    transition: all 0.5s linear;
}

/* #loginForm input::placeholder{
    color: #CCC;
} */

#loginForm input:focus {
    border-color: #FFF #FFF royalblue #FFF;
    outline: none;
    /* box-shadow: 0px 0px 5px #FFF; */
}

#loginForm button {
    background-color: royalblue;
    color: #FFF;
    border: 0px solid;
    width: 80px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.6s linear;
}

#loginForm button:hover {
    background-color: rgb(102, 136, 238);
    box-shadow: 0px 0px 7px #000;
}

#loginForm a {
    text-decoration: none;
    font-weight: 900;
}

/*Home page stylings*/

#noRemind {
    font-size: 20px;
    color: #444;
}

#tableWrapper {
    width: 100%;
}

#tableWrapper ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex: 1 0 auto;
    padding: 0px;
}

#tableWrapper ul li input {
    /* display: flex;
    justify-content: space-around; */
}

.top_list {
    font-weight: 800px;
    font-size: 18px;
    text-transform: uppercase;
}
